:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

#btn {
    margin-bottom: 30px;
    font-size: 20px;
}

#container {
    display: grid;
    width: 800px;
    height: 800px;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.cell {
    border: 1px solid black;
}